.box-filters-job
    .row
        .col-xl-6.col-lg-5
            span.text-small.text-showing
                | Showing 
                strong 41-60 
                | of 
                strong 944 
                | jobs
        .col-xl-6.col-lg-7.text-lg-end.mt-sm-15
            .display-flex2
                .box-border.mr-10
                    span.text-sortby Show:
                    .dropdown.dropdown-sort
                        button#dropdownSort.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')
                            span 12
                            i.fi-rr-angle-small-down
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownSort')
                            li
                                a.dropdown-item.active(href='#') 10
                            li
                                a.dropdown-item(href='#') 12
                            li
                                a.dropdown-item(href='#') 20
                .box-border
                    span.text-sortby Sort by:
                    .dropdown.dropdown-sort
                        button#dropdownSort2.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='false', data-bs-display='static')
                            span Newest Post
                            i.fi-rr-angle-small-down
                        ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownSort2')
                            li
                                a.dropdown-item.active(href='#') Newest Post
                            li
                                a.dropdown-item(href='#') Oldest Post
                            li
                                a.dropdown-item(href='#') Rating Post
                .box-view-type
                    a.view-type(href='jobs-list.html')
                        img(src='assets/imgs/template/icons/icon-list.svg', alt='jobBox')
                    a.view-type(href='jobs-grid.html')
                        img(src='assets/imgs/template/icons/icon-grid-hover.svg', alt='jobBox')