.paginations
    ul.pager
        li
            a.pager-prev(href='#')
        li
            a.pager-number(href='#') 1
        li
            a.pager-number(href='#') 2
        li
            a.pager-number(href='#') 3
        li
            a.pager-number(href='#') 4
        li
            a.pager-number(href='#') 5
        li
            a.pager-number.active(href='#') 6
        li
            a.pager-number(href='#') 7
        li
            a.pager-next(href='#')