.container
    .mt-50
        .box-swiper.style-nav-top
            .swiper-container.swiper-group-3.swiper
                .swiper-wrapper.pb-70.pt-5
                    +CardBlogSlider('assets/imgs/page/homepage1/img-news1.png', 'News', '21 Job Interview Tips: How To Make a Great Impression', 'Our mission is to create the world&rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.', 'assets/imgs/page/homepage1/user1.png', 'Sarah Harding', '06 September', '8 mins to read')
                    +CardBlogSlider('assets/imgs/page/homepage1/img-news2.png', 'Events', '39 Strengths and Weaknesses To Discuss in a Job Interview', 'Our mission is to create the world&rsquo;s most sustainable healthcare company by creating high-quality healthcare products in iconic, sustainable packaging.', 'assets/imgs/page/homepage1/user2.png', 'Steven Jobs', '06 September', '6 mins to read')
                    +CardBlogSlider('assets/imgs/page/homepage1/img-news3.png', 'News', 'Interview Question: Why Dont You Have a Degree?', 'Learn how to respond if an interviewer asks you why you dont have a degree, and read example answers that can help you craft', 'assets/imgs/page/homepage1/user3.png', 'Wiliam Kend', '06 September', '9 mins to read')
            .swiper-button-next
            .swiper-button-prev
        .text-center
            a.btn.btn-brand-1.btn-icon-load.mt--30.hover-up(href='blog-grid.html') Load More Posts
