.container
    .box-swiper.mt-50
        .swiper-container.swiper-group-1.swiper-style-2.swiper
            .swiper-wrapper.pt-5
                .swiper-slide
                    +RecruitersLogo('assets/imgs/brands/brand-1.png', 'Linkedin', 68, 'New York, US', 25)
                    +RecruitersLogo('assets/imgs/brands/brand-2.png', 'Adobe', 42, 'New York, US', 17)
                    +RecruitersLogo('assets/imgs/brands/brand-3.png', 'Dailymotion', 46, 'New York, US', 65)
                    +RecruitersLogo('assets/imgs/brands/brand-4.png', 'NewSum', 68, 'New York, US', 25)
                    +RecruitersLogo('assets/imgs/brands/brand-5.png', 'PowerHome', 87, 'New York, US', 34)
                    +RecruitersLogo('assets/imgs/brands/brand-6.png', 'Whop.com', 34, 'New York, US', 56)
                    +RecruitersLogo('assets/imgs/brands/brand-7.png', 'Greewood', 124, 'New York, US', 78)
                    +RecruitersLogo('assets/imgs/brands/brand-8.png', 'Kentucky', 54, 'New York, US', 98)
                    +RecruitersLogo('assets/imgs/brands/brand-9.png', 'Qeuity', 76, 'New York, US', 90)
                    +RecruitersLogo('assets/imgs/brands/brand-10.png', 'Honda', 89, 'New York, US', 34)
                    +RecruitersLogo('assets/imgs/brands/brand-5.png', 'Toyota', 34, 'New York, US', 26)
                    +RecruitersLogo('assets/imgs/brands/brand-3.png', 'Lexuxs', 27, 'New York, US', 54)
                    +RecruitersLogo('assets/imgs/brands/brand-6.png', 'Ondo', 54, 'New York, US', 58)
                    +RecruitersLogo('assets/imgs/brands/brand-2.png', 'Square', 16, 'New York, US', 37)
                    +RecruitersLogo('assets/imgs/brands/brand-8.png', 'Vista', 97, 'New York, US', 43)
        .swiper-button-next.swiper-button-next-1
        .swiper-button-prev.swiper-button-prev-1