section.section-box.mt-70.mb-40
    .container
        .text-start
            h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp How It Works
            p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Just via some simple steps, you will find your ideal candidates you’r looking for!
        .mt-70 
            .row 
                .col-lg-4
                    .box-step.step-1
                        h1.number-element 1
                        h4.mb-20 Register an
                            br.d-none.d-lg-block
                            | account to start
                        p.font-lg.color-text-paragraph-2 Lorem ipsum dolor sit amet,
                            br.d-none.d-lg-block
                            | consectetur adipisicing elit, sed do 
                .col-lg-4
                    .box-step.step-2
                        h1.number-element 2
                        h4.mb-20 Explore over
                            br.d-none.d-lg-block
                            | thousands of resumes
                        p.font-lg.color-text-paragraph-2 Lorem ipsum dolor sit amet,
                            br.d-none.d-lg-block
                            | consectetur adipisicing elit, sed do 
                .col-lg-4
                    .box-step
                        h1.number-element 3
                        h4.mb-20 Find the most
                            br.d-none.d-lg-block
                            | suitable candidate
                        p.font-lg.color-text-paragraph-2 Lorem ipsum dolor sit amet,
                            br.d-none.d-lg-block
                            | consectetur adipisicing elit, sed do 
        .mt-50.text-center
            a.btn.btn-default Get Started