section.section-box
    .banner-hero.hero-1
        .banner-inner
            .row
                .col-xl-8.col-lg-12
                    .block-banner
                        h1.heading-banner.wow.animate__animated.animate__fadeInUp
                            | The 
                            span.color-brand-2 Easiest Way
                            br.d-none.d-lg-block
                            | to Get Your New Job
                        .banner-description.mt-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                            | Each month, more than 3 million job seekers turn to 
                            br.d-none.d-lg-block
                            | website in their search for work, making over 140,000 
                            br.d-none.d-lg-block
                            | applications every single day
                        .form-find.mt-40.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                            include ../elements/form-job-search.pug
                        .list-tags-banner.mt-60.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                            strong Popular Searches:
                            a(href='#') Designer
                            | , 
                            a(href='#') Web
                            | , 
                            a(href='#') IOS
                            | , 
                            a(href='#') Developer
                            | , 
                            a(href='#') PHP
                            | , 
                            a(href='#') Senior
                            | , 
                            a(href='#') Engineer
                .col-xl-4.col-lg-12.d-none.d-xl-block.col-md-6
                    .banner-imgs
                        .block-1.shape-1
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage1/banner1.png')
                        .block-2.shape-2
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage1/banner2.png')
                        .block-3.shape-3
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage1/icon-top-banner.png')
                        .block-4.shape-3
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage1/icon-bottom-banner.png')
