section.section-box.mt-50.mb-30.bg-brand-2.pt-60.pb-60
    .container
        .row
            .col-xl-5
                .pt-70
                    h2.color-white.mb-20 Explore the Marketplace
                    p.color-white.mb-30 Search and connect with the right candidates faster. Tell us what you’ve looking for  and we’ll get to work for you.
                    .mt-20 
                        a.btn.btn-brand-1.btn-icon-more.hover-up Explore
                        
            .col-xl-7 
                .box-swiper.mt-50.layout-brand-1
                    .swiper-container.swiper-group-3-explore.mh-none.swiper
                        .swiper-wrapper.pb-70.pt-5
                            .swiper-slide.hover-up
                                +CategoryCard-2('assets/imgs/page/homepage4/img-big1.png', 'Marketing & Sales', '123')
                            .swiper-slide.hover-up
                                +CategoryCard-2('assets/imgs/page/homepage4/img-big2.png', 'Human resource', '154')
                            .swiper-slide.hover-up
                                +CategoryCard-2('assets/imgs/page/homepage4/img-big3.png', 'Finance', '546')
                            .swiper-slide.hover-up
                                +CategoryCard-2('assets/imgs/page/homepage4/img-big4.png', 'Market Research', '24')
                            .swiper-slide.hover-up
                                +CategoryCard-2('assets/imgs/page/homepage4/img-big5.png', 'Furniture design', '54')
                            .swiper-slide.hover-up
                                +CategoryCard-2('assets/imgs/page/homepage4/img-big6.png', 'Content writer', '87')
                    .swiper-button-next.swiper-button-next-1
                    .swiper-button-prev.swiper-button-prev-1 

