section.section-box.mt-70
    .container
        .text-center
            h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp Top Candidates
            p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp
                | Jobs is a curated job board of the best jobs for developers, designers and marketers in the tech industry.
        .mt-50
            .row
                .col-xl-3.col-lg-4.col-md-6
                    +candidateCard('assets/imgs/page/candidates/user1.png', 'Robert Fox', 'UI/UX Designer', '| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', 'Chicago, US', '$45 / hour')
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Figma
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Adobe XD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') PSD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') App
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Digital
                .col-xl-3.col-lg-4.col-md-6
                    +candidateCard('assets/imgs/page/candidates/user2.png', 'Cody Fisher', 'Python developer', '| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', 'Chicago, US', '$45 / hour')
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Figma
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Adobe XD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') PSD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') App
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Digital
                .col-xl-3.col-lg-4.col-md-6
                    +candidateCard('assets/imgs/page/candidates/user3.png', 'Jerome Bell', 'Content Manager', '| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', 'Chicago, US', '$45 / hour')
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Figma
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Adobe XD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') PSD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') App
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Digital
                .col-xl-3.col-lg-4.col-md-6
                    +candidateCard('assets/imgs/page/candidates/user4.png', 'Jane Cooper', 'Network', '| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', 'Chicago, US', '$45 / hour')
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Figma
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Adobe XD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') PSD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') App
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Digital
                .col-xl-3.col-lg-4.col-md-6
                    +candidateCard('assets/imgs/page/candidates/user5.png', 'Floyd Miles', 'Photo Editing', '| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', 'Chicago, US', '$45 / hour')
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Figma
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Adobe XD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') PSD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') App
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Digital
                .col-xl-3.col-lg-4.col-md-6
                    +candidateCard('assets/imgs/page/candidates/user6.png', 'Devon Lane', 'Online Marketing', '| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', 'Chicago, US', '$45 / hour')
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Figma
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Adobe XD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') PSD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') App
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Digital
                .col-xl-3.col-lg-4.col-md-6
                    +candidateCard('assets/imgs/page/candidates/user7.png', 'Jerome Bell', 'UI/UX Designer', '| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', 'Chicago, US', '$45 / hour')
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Figma
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Adobe XD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') PSD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') App
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Digital
                .col-xl-3.col-lg-4.col-md-6
                    +candidateCard('assets/imgs/page/candidates/user8.png', 'Eleanor', 'UI/UX Designer', '| Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis?', 'Chicago, US', '$45 / hour')
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Figma
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Adobe XD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') PSD
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') App
                        a.btn.btn-tags-sm.mb-10.mr-5(href='jobs-grid.html') Digital
            .row.mt-40.mb-60
                .col-lg-12 
                    .text-center
                        a.btn.btn-brand-1.btn-icon-load.mt--30.hover-up(href='blog-grid.html') Load More Posts