section.section-box.overflow-visible.mt-100.mb-100
  .container
    .row
      .col-lg-6.col-sm-12
        .box-image-job
          img.img-job-1(alt='jobBox', src='assets/imgs/page/homepage1/img-chart.png')
          img.img-job-2(alt='jobBox', src='assets/imgs/page/homepage1/controlcard.png')
          figure.wow.animate__animated.animate__fadeIn
            img(alt='jobBox', src='assets/imgs/page/homepage1/img1.png')
      .col-lg-6.col-sm-12
        .content-job-inner
          span.color-text-mutted.text-32 Millions Of Jobs. 
          h2.text-52.wow.animate__animated.animate__fadeInUp
            | Find The One That&rsquo;s 
            span.color-brand-2 Right
            |  For You
          .mt-40.pr-50.text-md-lh28.wow.animate__animated.animate__fadeInUp
            | Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 600,000 companies worldwide. The right job is out there.
          .mt-40
            .wow.animate__animated.animate__fadeInUp
              a.btn.btn-default(href='jobs-grid.html') Search Jobs
              a.btn.btn-link(href='page-about.html') Learn More