section.section-box.mt-110.bg-cat
  .section-box.wow.animate__animated.animate__fadeIn.mt-70
    .container
      .text-center
        h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp Browse by category
        p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Find the job that&rsquo;s perfect for you. about 800+ new jobs everyday
      .box-swiper.mt-50
        .swiper-container.swiper-group-5.swiper
          .swiper-wrapper.pb-70.pt-5
            .swiper-slide.hover-up
              +jobCategory('assets/imgs/page/homepage1/marketing.svg','Marketing & Sale','1526','jobs-list.html')
              +jobCategory('assets/imgs/page/homepage1/customer.svg','Customer Help','185')            
            .swiper-slide.hover-up
              +jobCategory('assets/imgs/page/homepage1/finance.svg','Finance','168')
              +jobCategory('assets/imgs/page/homepage1/lightning.svg','Software','1856','jobs-list.html')
            .swiper-slide.hover-up
              +jobCategory('assets/imgs/page/homepage1/human.svg','Human Resource','165')
              +jobCategory('assets/imgs/page/homepage1/management.svg','Management','965')              
            .swiper-slide.hover-up
              +jobCategory('assets/imgs/page/homepage1/retail.svg','Retail & Products','563','jobs-list.html')
              +jobCategory('assets/imgs/page/homepage1/security.svg','Security Analyst','254')              
            .swiper-slide.hover-up
              +jobCategory('assets/imgs/page/homepage1/content.svg','Content Writer','142')
              +jobCategory('assets/imgs/page/homepage1/research.svg','Market Research','532','jobs-list.html')              
        .swiper-button-next
        .swiper-button-prev
