section.section-box
    .banner-hero.hero-2.hero-3
        .banner-inner
            .block-banner
                h1.text-42.color-white.wow.animate__animated.animate__fadeInUp
                    | The #1 
                    span.color-green Job Board for
                    br.d-none.d-lg-block
                    | Hiring or Find your next job
                .font-lg.font-regular.color-white.mt-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                    | Each month, more than 3 million job seekers turn to website in their search for work, making over 140,000 applications every single day
                .form-find.mt-40.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    include ../elements/form-job-search.pug 
                .list-tags-banner.mt-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                    strong Popular Searches:
                    a(href='#') Designer
                    | , 
                    a(href='#') Web
                    | , 
                    a(href='#') IOS
                    | , 
                    a(href='#') Developer
                    | , 
                    a(href='#') PHP
                    | , 
                    a(href='#') Senior
                    | , 
                    a(href='#') Engineer
        .container.mt-60
            .box-swiper.mt-50
                .swiper-container.swiper-group-5.swiper
                    .swiper-wrapper.pb-25.pt-5
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/marketing.svg','Marketing & Sale','1526','jobs-list.html')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/customer.svg','Customer Help','185')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/finance.svg','Finance','168')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/lightning.svg','Software','1856','jobs-list.html')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/human.svg','Human Resource','165')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/management.svg','Management','965')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/retail.svg','Retail & Products','563','jobs-list.html')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/security.svg','Security Analyst','254')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/content.svg','Content Writer','142')
                        .swiper-slide.hover-up
                            +jobCategory('assets/imgs/page/homepage1/research.svg','Market Research','532','jobs-list.html')
                    .swiper-pagination.swiper-pagination-style-border