section.section-box.mt-0
    .section-box.wow.animate__animated.animate__fadeIn
        .container
            .text-center
                h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp See Some Words
                p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Thousands of employee get their ideal jobs
                    br.d-none.d-lg-block 
                    | and feed back to us!
            .box-swiper.mt-50
                .swiper-container.swiper-group-4-border.swiper
                    .swiper-wrapper.pb-70.pt-5
                        .swiper-slide.hover-up
                            +jobReviews('assets/imgs/page/homepage4/user.png','Ellis Kim', 'Digital Artist','Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt. Labore et dolore nostrud temp exercitation.')       
                        .swiper-slide.hover-up
                            +jobReviews('assets/imgs/page/homepage4/user2.png','John Smith', 'Product designer','Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt. Labore et dolore nostrud temp exercitation.')
                        .swiper-slide.hover-up
                            +jobReviews('assets/imgs/page/homepage4/user3.png','Sayen Ahmod', 'Developer','Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt. Labore et dolore nostrud temp exercitation.')
                        .swiper-slide.hover-up
                            +jobReviews('assets/imgs/page/homepage4/user4.png','Tayla Swef', 'Graphic designer','Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt. Labore et dolore nostrud temp exercitation.')
                        .swiper-slide.hover-up
                            +jobReviews('assets/imgs/page/homepage4/user.png','Ellis Kim', 'Digital Artist','Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt. Labore et dolore nostrud temp exercitation.')
                    .swiper-pagination.swiper-pagination-style-border