section.section-box.mt-70
    .section-box.wow.animate__animated.animate__fadeIn
        .container
            .text-center
                h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp Popular category
                p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Search and connect with the right candidates faster.
            .box-swiper.mt-50.layout-brand-1
                .swiper-container.swiper-group-6.mh-none.swiper
                    .swiper-wrapper.pb-70.pt-5
                        .swiper-slide.hover-up
                            +CategoryCard-2('assets/imgs/page/homepage4/img-big1.png', 'Marketing & Sales', '123')
                        .swiper-slide.hover-up
                            +CategoryCard-2('assets/imgs/page/homepage4/img-big2.png', 'Human resource', '154')
                        .swiper-slide.hover-up
                            +CategoryCard-2('assets/imgs/page/homepage4/img-big3.png', 'Finance', '546')
                        .swiper-slide.hover-up
                            +CategoryCard-2('assets/imgs/page/homepage4/img-big4.png', 'Market Research', '24')
                        .swiper-slide.hover-up
                            +CategoryCard-2('assets/imgs/page/homepage4/img-big5.png', 'Furniture design', '54')
                        .swiper-slide.hover-up
                            +CategoryCard-2('assets/imgs/page/homepage4/img-big6.png', 'Content writer', '87')
                .swiper-button-next.swiper-button-next-1
                .swiper-button-prev.swiper-button-prev-1
