section.section-box
    .container
        .d-flex.flex-wrap.flex-lg-nowrap
            .block-banner-1
                .block-image-1 
                    img(src='assets/imgs/page/homepage6/img1.png', alt='jobBox')
                .block-image-2 
                    img(src='assets/imgs/page/homepage6/img2.png', alt='jobBox') 
            .block-banner-2 
                .block-image-3
                    img(src='assets/imgs/page/homepage6/img3.png', alt='jobBox')
            .block-banner-3
                .block-image-4 
                    img(src='assets/imgs/page/homepage6/img4.png', alt='jobBox')
                .block-image-5 
                    img(src='assets/imgs/page/homepage6/img5.png', alt='jobBox') 