section.section-box.mt-50.mb-30.bg-border-3.pt-100.pb-100
    .container
        .row
            .col-lg-6
                img.bdrd-10(src='assets/imgs/page/homepage5/img-profile.png', alt='jobBox')
            .col-lg-6
                .pl-30
                    h5.color-brand-2.mb-15.mt-15 Create Profile
                    h2.color-brand-1.mt-0.mb-15 Create Your Personal Account Profile
                    p.font-lg.color-text-paragraph-2 Work Profile is a personality assessment that measures an individual's work personality through their workplace traits, social and emotional traits; as well as the values and aspirations that drive them forward.
                    .mt-20
                        a.btn.btn-default Create Profile