div.section-box.mb-30
  .container
    .box-we-hiring
      .text-1
        span.text-we-are We are
        span.text-hiring Hiring
      .text-2
        | Let&rsquo;s 
        span.color-brand-1 Work
        |  Together
        br
        |  &amp; 
        span.color-brand-1 Explore
        |  Opportunities
      .text-3
        .btn.btn-apply.btn-apply-icon(data-bs-toggle='modal', data-bs-target='#ModalApplyJobForm') Apply now