section.section-box.mb-70
    .banner-hero.hero-1.banner-homepage5
        .banner-inner
            .row
                .col-xl-7.col-lg-12
                    .block-banner
                        h1.heading-banner.wow.animate__animated.animate__fadeInUp
                            | Find Jobs,
                            br.d-none.d-lg-block
                            | Hire Creatives
                        .banner-description.mt-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                            | Each month, more than 3 million job seekers turn to website in their search for work, making over 140,000 applications every single day
                        .mt-30 
                            a.btn.btn-default.mr-15 Get Started
                            a.btn.btn-border-brand-2 Learn more
                        .mt-50.mb-20
                            span.font-md.color-text-paragraph-2 Trusted by
                        .box-logos-485
                            .box-swiper
                                .swiper-container.swiper-group-4-banner.swiper
                                    .swiper-wrapper
                                        .swiper-slide
                                            a(href='#')
                                                img(src='assets/imgs/page/homepage3/microsoft.svg', alt='jobBox')
                                        .swiper-slide
                                            a(href='#')
                                                img(src='assets/imgs/page/homepage3/sony.svg', alt='jobBox')
                                        .swiper-slide
                                            a(href='#')
                                                img(src='assets/imgs/page/homepage3/acer.svg', alt='jobBox')
                                        .swiper-slide
                                            a(href='#')
                                                img(src='assets/imgs/page/homepage3/nokia.svg', alt='jobBox')
                                        .swiper-slide
                                            a(href='#')
                                                img(src='assets/imgs/page/homepage3/asus.svg', alt='jobBox')
                                        .swiper-slide
                                            a(href='#')
                                                img(src='assets/imgs/page/homepage3/casio.svg', alt='jobBox')
                                        .swiper-slide
                                            a(href='#')
                                                img(src='assets/imgs/page/homepage3/dell.svg', alt='jobBox')
                .col-xl-5.col-lg-12.d-none.d-xl-block.col-md-6
                    .banner-imgs
                        .banner-1.shape-1
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage5/banner1.png')
                        .banner-2.shape-2
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage5/banner2.png')
                        .banner-3.shape-3
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage5/banner3.png')
                        .banner-4.shape-3
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage5/banner4.png')
                        .banner-5.shape-2
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage5/banner5.png')
                        .banner-6.shape-1
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage5/banner6.png')
            .box-search-2
                .block-banner
                    .form-find.mt-40.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                        include ../elements/form-job-search-2.pug
