section.section-box
    .banner-hero.hero-1.banner-homepage4
        .banner-inner
            .row
                .col-xl-7.col-lg-12
                    .block-banner
                        h1.heading-banner.wow.animate__animated.animate__fadeInUp
                            | Get The 
                            span.color-brand-2 Right Job
                            br.d-none.d-lg-block
                            | You Deserve
                        .banner-description.mt-20.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                            | Each month, more than 3 million job seekers turn to website in their search for work,
                            br.d-none.d-lg-block
                            | making over 140,000 applications every single day
                        .form-find.mt-40.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                            include ../elements/form-job-search.pug
                        .list-tags-banner.mt-60.wow.animate__animated.animate__fadeInUp(data-wow-delay='.3s')
                            strong Popular Searches:
                            a(href='#') Designer
                            | , 
                            a(href='#') Web
                            | , 
                            a(href='#') IOS
                            | , 
                            a(href='#') Developer
                            | , 
                            a(href='#') PHP
                            | , 
                            a(href='#') Senior
                            | , 
                            a(href='#') Engineer
                .col-xl-5.col-lg-12.d-none.d-xl-block.col-md-6
                    .banner-imgs
                        .block-1.shape-1
                            img.img-responsive(alt='jobBox', src='assets/imgs/page/homepage4/banner.png')
