.container
    .row.mt-50
        .col-xl-3.col-lg-3.col-md-5.col-sm-12.col-12
            .card-image-top.hover-up
                a(href='jobs-grid.html')
                    .image(style='background-image: url(assets/imgs/page/homepage1/location1.png);')
                        span.lbl-hot Hot
                .informations
                    a(href='jobs-grid.html')
                        h5 Paris, France
                    .row
                        .col-lg-6.col-6
                            span.text-14.color-text-paragraph-2 5 Vacancy
                        .col-lg-6.col-6.text-end
                            span.color-text-paragraph-2.text-14 120 companies
        .col-xl-4.col-lg-4.col-md-7.col-sm-12.col-12
            .card-image-top.hover-up
                a(href='jobs-grid.html')
                    .image(style='background-image: url(assets/imgs/page/homepage1/location2.png);')
                        span.lbl-hot Trending
                .informations
                    a(href='jobs-grid.html')
                        h5 London, England
                    .row
                        .col-lg-6.col-6
                            span.text-14.color-text-paragraph-2 7 Vacancy
                        .col-lg-6.col-6.text-end
                            span.color-text-paragraph-2.text-14 68 companies
        .col-xl-5.col-lg-5.col-md-7.col-sm-12.col-12
            .card-image-top.hover-up
                a(href='jobs-grid.html')
                    .image(style='background-image: url(assets/imgs/page/homepage1/location3.png);')
                        span.lbl-hot Hot
                .informations
                    a(href='jobs-grid.html')
                        h5 New York, USA
                    .row
                        .col-lg-6.col-6
                            span.text-14.color-text-paragraph-2 9 Vacancy
                        .col-lg-6.col-6.text-end
                            span.color-text-paragraph-2.text-14 80 companies
        .col-xl-4.col-lg-4.col-md-5.col-sm-12.col-12
            .card-image-top.hover-up
                a(href='jobs-grid.html')
                    .image(style='background-image: url(assets/imgs/page/homepage1/location4.png);')
                .informations
                    a(href='jobs-grid.html')
                        h5 Amsterdam, Holland
                    .row
                        .col-lg-6.col-6
                            span.text-14.color-text-paragraph-2 16 Vacancy
                        .col-lg-6.col-6.text-end
                            span.color-text-paragraph-2.text-14 86 companies
        .col-xl-5.col-lg-5.col-md-7.col-sm-12.col-12
            .card-image-top.hover-up
                a(href='jobs-grid.html')
                    .image(style='background-image: url(assets/imgs/page/homepage1/location5.png);')
                .informations
                    a(href='jobs-grid.html')
                        h5 Copenhagen, Denmark
                    .row
                        .col-lg-6.col-6
                            span.text-14.color-text-paragraph-2 39 Vacancy
                        .col-lg-6.col-6.text-end
                            span.color-text-paragraph-2.text-14 186 companies
        .col-xl-3.col-lg-3.col-md-5.col-sm-12.col-12
            .card-image-top.hover-up
                a(href='jobs-grid.html')
                    .image(style='background-image: url(assets/imgs/page/homepage1/location6.png);')
                .informations
                    a(href='jobs-grid.html')
                        h5 Berlin, Germany
                    .row
                        .col-lg-6.col-6
                            span.text-14.color-text-paragraph-2 15 Vacancy
                        .col-lg-6.col-6.text-end
                            span.color-text-paragraph-2.text-14 632 companies
