section.section-box.mt-50
    .container
        .row
            .col-lg-6.col-md-12.mb-15.mb-lg-0
                .box-radius-8.bg-urgent.hover-up
                    .image
                        figure
                            img(src='assets/imgs/page/homepage2/job-tools.png', alt='jobBox')
                    .text-info
                        h3 Job Tools Services
                        p.font-sm.color-text-paragraph-2
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet rutrum quam, id faucibus erat interdum a. Curabitur eget tortor a nulla interdum semper.
                        .mt-15
                            a.btn.btn-arrow-right(href='#') Find Out More
            .col-lg-6.col-md-12
                .box-radius-8.bg-9.hover-up
                    .image
                        figure
                            img(src='assets/imgs/page/homepage2/planning-job.png', alt='jobBox')
                    .text-info
                        h3 Planning a Job?
                        p.font-sm.color-text-paragraph-2
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet rutrum quam, id faucibus erat interdum a. Curabitur eget tortor a nulla interdum semper.
                        .mt-15
                            a.btn.btn-arrow-right(href='#') Find Out More
