section.section-box.mt-50.mb-20
  .container
    .box-newsletter
      .row
        .col-xl-3.col-12.text-center.d-none.d-xl-block
          img(src='assets/imgs/template/newsletter-left.png', alt='joxBox')
        .col-lg-12.col-xl-6.col-12
          h2.text-md-newsletter.text-center
            | New Things Will Always
            br
            |  Update Regularly
          .box-form-newsletter.mt-40
            form.form-newsletter
              input.input-newsletter(type='text', value='', placeholder='Enter your email here')
              button.btn.btn-default.font-heading.icon-send-letter Subscribe
        .col-xl-3.col-12.text-center.d-none.d-xl-block
          img(src='assets/imgs/template/newsletter-right.png', alt='joxBox')