section.section-box.mt-50.mb-20
    .container
        .box-newsletter.box-newsletter-3
            .row
                .col-xl-12.text-center
                    .d-inline-block
                        h2.color-white.mt-30 Subscribe our newsletter
                        p.mt-10.font-lg.color-white New Things Will Always Update Regularl
                        .box-form-newsletter.mt-30
                            form.form-newsletter
                                input.input-newsletter(type='text', value='', placeholder='Enter your email here')
                                button.btn.btn-default.font-heading.icon-send-letter Subscribe