section.section-box.mt-80
    .post-loop-grid
        .container
            .text-center
                h6.f-18.color-text-mutted.text-uppercase Our company
                h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp Meet Our Team
                p.font-sm.color-text-paragraph.w-lg-50.mx-auto.wow.animate__animated.animate__fadeInUp Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula ante, dictum non aliquet eu, dapibus ac quam. Morbi vel ante viverra orci tincidunt tempor eu id ipsum. Sed consectetur, risus a blandit tempor, velit magna pellentesque risus, at congue tellus dui quis nisl.
            .row.mt-70
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-md-30
                    +teamMember('assets/imgs/page/about/team1.png', 'Arlene McCoy', 'Frontend Developer', '65', 'New York, US')
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-md-30
                    +teamMember('assets/imgs/page/about/team2.png', 'Floyd Miles', 'UI/UX Designer', '28', 'Chicago, US')
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-md-30
                    +teamMember('assets/imgs/page/about/team3.png', 'Devon Lane', 'Frontend Developer', '65', 'New York, US')
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-md-30
                    +teamMember('assets/imgs/page/about/team4.png', 'Jerome Bell', 'Frontend Developer', '65', 'New York, US')
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-md-30
                    +teamMember('assets/imgs/page/about/team5.png', 'Theresa', 'Frontend Developer', '65', 'New York, US')
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-md-30
                    +teamMember('assets/imgs/page/about/team6.png', 'Cameron', 'Frontend Developer', '65', 'New York, US')
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-md-30
                    +teamMember('assets/imgs/page/about/team7.png', 'Jacob Jones', 'Frontend Developer', '65', 'New York, US')
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-md-30
                    +teamMember('assets/imgs/page/about/team8.png', 'Court Henry', 'Frontend Developer', '65', 'New York, US')
