section.section-box.mt-30.mb-40
        .container
            h2.text-center.mb-15.wow.animate__animated.animate__fadeInUp Our Happy Customer
            .font-lg.color-text-paragraph-2.text-center.wow.animate__animated.animate__fadeInUp
                | When it comes to choosing the right web hosting provider, we know how easy it
                br.d-none.d-lg-block
                |  is to get overwhelmed with the number.
            .row.mt-50
                .box-swiper
                    .swiper-container.swiper-group-3.swiper
                        .swiper-wrapper.pb-70.pt-5
                            .swiper-slide
                                +testimonial('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.', 'assets/imgs/page/about/user1.png', 'Mark Adair', 'Businessmen')
                            .swiper-slide
                                +testimonial('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.', 'assets/imgs/page/about/user2.png', 'Mark Adair', 'Businessmen')                               
                            .swiper-slide
                                +testimonial('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque metus. Vivamus consectetur ultricies commodo. Pellentesque at nisl sit amet neque finibus egestas ut at magna. Cras tincidunt tortor sed eros aliquam eleifend.', 'assets/imgs/page/about/user3.png', 'Mark Adair', 'Businessmen')
                        .swiper-pagination.swiper-pagination3