.widget_search.mb-40
    .search-form
        form(action='#')
            input(type='text', placeholder='Search…')
            button(type='submit')
                i.fi-rr-search
.sidebar-shadow.sidebar-news-small
    h5.sidebar-title Trending Now
    .post-list-small
        .post-list-small-item.d-flex.align-items-center
            figure.thumb.mr-15
                img(src='assets/imgs/page/blog/img-trending.png', alt='jobBox')
            .content
                h5 How to get better agents in New York, USA
                .post-meta.text-muted.d-flex.align-items-center.mb-15
                    .author.d-flex.align-items-center.mr-20
                        img(alt='jobBox', src='assets/imgs/page/homepage1/user1.png')
                        span Sugar Rosie
        .post-list-small-item.d-flex.align-items-center
            figure.thumb.mr-15
                img(src='assets/imgs/page/blog/gallery1.png', alt='')
            .content
                h5 How To Create a Resume for a Job in Social
                .post-meta.text-muted.d-flex.align-items-center.mb-15
                    .author.d-flex.align-items-center.mr-20
                        img(alt='jobBox', src='assets/imgs/page/homepage1/user3.png')
                        span Harding
                    .date
                        span 17 Sep
        .post-list-small-item.d-flex.align-items-center
            figure.thumb.mr-15
                img(src='assets/imgs/page/blog/gallery2.png', alt='')
            .content
                h5 10 Ways to Avoid a Referee Disaster Zone
                .post-meta.text-muted.d-flex.align-items-center.mb-15
                    .author.d-flex.align-items-center.mr-20
                        img(alt='jobBox', src='assets/imgs/page/homepage1/user2.png')
                        span Steven
                    .date
                        span 23 Sep
        .post-list-small-item.d-flex.align-items-center
            figure.thumb.mr-15
                img(src='assets/imgs/page/blog/gallery4.png', alt='')
            .content
                h5 How To Set Work-Life Boundaries From Any Location
                .post-meta.text-muted.d-flex.align-items-center.mb-15
                    .author.d-flex.align-items-center.mr-20
                        img(alt='jobBox', src='assets/imgs/page/homepage1/user3.png')
                        span Merias
                    .date
                        span 14 Sep
        .post-list-small-item.d-flex.align-items-center
            figure.thumb.mr-15
                img(src='assets/imgs/page/blog/gallery5.png', alt='')
            .content
                h5 How to Land Your Dream Marketing Job
                .post-meta.text-muted.d-flex.align-items-center.mb-15
                    .author.d-flex.align-items-center.mr-20
                        img(alt='jobBox', src='assets/imgs/page/homepage1/user1.png')
                        span Rosie
                    .date
                        span 12 Sep
.sidebar-border-bg.bg-right
    span.text-grey WE ARE
    span.text-hiring HIRING
    p.font-xxs.color-text-paragraph.mt-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto
    .mt-15
        a.btn.btn-paragraph-2(href='#') Know More
.sidebar-shadow.sidebar-news-small
    h5.sidebar-title Gallery
    .post-list-small
        ul.gallery-3
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery1.png')
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery2.png')
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery3.png')
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery4.png')
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery5.png')
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery6.png')
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery7.png')
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery8.png')
            li
                a(href='#')
                    img(src='assets/imgs/page/blog/gallery9.png')
