footer.footer.mt-50
  .container
    .row
      .footer-col-1.col-md-3.col-sm-12
        a(href='index.html')
          img(alt='jobBox', src='assets/imgs/template/jobhub-logo.svg')
        .mt-20.mb-20.font-xs.color-text-paragraph-2
          | JobBox is the heart of the design community and the best resource to discover and connect with designers and jobs worldwide.
        .footer-social
          a.icon-socials.icon-facebook(href='#')
          a.icon-socials.icon-twitter(href='#')
          a.icon-socials.icon-linkedin(href='#')
      .footer-col-2.col-md-2.col-xs-6
        h6.mb-20 Resources
        ul.menu-footer
          li
            a(href='#') About us
          li
            a(href='#') Our Team
          li
            a(href='#') Products
          li
            a(href='#') Contact
      .footer-col-3.col-md-2.col-xs-6
        h6.mb-20 Community
        ul.menu-footer
          li
            a(href='#') Feature
          li
            a(href='#') Pricing
          li
            a(href='#') Credit
          li
            a(href='#') FAQ
      .footer-col-4.col-md-2.col-xs-6
        h6.mb-20 Quick links
        ul.menu-footer
          li
            a(href='#') iOS
          li
            a(href='#') Android
          li
            a(href='#') Microsoft
          li
            a(href='#') Desktop
      .footer-col-5.col-md-2.col-xs-6
        h6.mb-20 More
        ul.menu-footer
          li
            a(href='#') Privacy
          li
            a(href='#') Help
          li
            a(href='#') Terms
          li
            a(href='#') FAQ
      .footer-col-6.col-md-3.col-sm-12
        h6.mb-20 Download App
        p.color-text-paragraph-2.font-xs Download our Apps and get extra 15% Discount on your first Order&mldr;!
        .mt-15
          a.mr-5(href='#')
            img(src='assets/imgs/template/icons/app-store.png', alt='joxBox')
          a(href='#')
            img(src='assets/imgs/template/icons/android.png', alt='joxBox')
    .footer-bottom.mt-50
      .row
        .col-md-6
          span.font-xs.color-text-paragraph Copyright &copy; 2022. JobBox all right reserved
        .col-md-6.text-md-end.text-start
          .footer-social
            a.font-xs.color-text-paragraph(href='#') Privacy Policy
            a.font-xs.color-text-paragraph.mr-30.ml-30(href='#') Terms &amp; Conditions
            a.font-xs.color-text-paragraph(href='#') Security
