section.section-box-2
    .container
        .banner-hero.banner-single.banner-single-bg
            .block-banner.text-center
                h3.wow.animate__animated.animate__fadeInUp
                    span.color-brand-2 22 Jobs
                    |  Available Now
                .font-sm.color-text-paragraph-2.mt-10.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, 
                    br.d-none.d-xl-block
                    | atque delectus molestias quis?
                .form-find.text-start.mt-40.wow.animate__animated.animate__fadeInUp(data-wow-delay='.2s')
                    include ../elements/form-job-search.pug