section.section-box-2
    .container
        .banner-hero.banner-company
            .block-banner.text-center
                h3.wow.animate__animated.animate__fadeInUp Browse Candidates
                .font-sm.color-text-paragraph-2.mt-10.wow.animate__animated.animate__fadeInUp(data-wow-delay='.1s')
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, 
                    br.d-none.d-xl-block
                    | atque delectus molestias quis?
                include ../elements/list-character.pug