extends ../layouts/master.pug

block title
    title Jobbox - Job Portal HTML Template 

block header
    include ../components/header.pug

block content
    include ../components/inner-header2.pug
    section.section-box.mt-30
        .container
            .row.flex-row-reverse
                .col-lg-9.col-md-12.col-sm-12.col-12.float-right
                    .content-page
                        include ../elements/box-filters-job.pug
                        .row
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-1.png', 'Car Toys', '66', 'New York, US', '12')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-2.png', 'Carols Daughter', '18', 'London, UK', '25')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-3.png', 'Amazon', '52', 'Tokyo,Japan', '54')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-4.png', 'Baseball Savings', '85', 'Chicago, US', '6')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-5.png', 'Ashford', '25', 'Toronto, Italia', '67')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-6.png', 'Callaway Golf', '34', 'San Francisco, US', '45')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-7.png', 'Percepta', '97', 'Chinatown, Singpore', '64')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-8.png', 'Exela Movers', '67', 'New York, US', '87')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-9.png', 'Ibotta, Inc', '45', 'New York, US', '23')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-1.png', 'Wanderu ', '08', 'New York, US', '45')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-2.png', 'Aceable, Inc.', '54', 'New York, US', '67')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-3.png', 'Intrepid Travel', '123', 'New York, US', '53')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-4.png', 'Defendify ', '64', 'New York, US', '56')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-5.png', 'Twisters ', '34', 'New York, US', '66')   
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-6.png', 'Fireworks', '12', 'New York, US', '12')   
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-1.png', 'Car Toys', '66', 'New York, US', '12')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-2.png', 'Carols Daughter', '18', 'London, UK', '25')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-3.png', 'Amazon', '52', 'Tokyo,Japan', '54')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-4.png', 'Baseball Savings', '85', 'Chicago, US', '6')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-5.png', 'Ashford', '25', 'Toronto, Italia', '67')
                            .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12
                                +companyCard('assets/imgs/brands/brand-6.png', 'Callaway Golf', '34', 'San Francisco, US', '45')     

                    include ../elements/pagination.pug
                
                .col-lg-3.col-md-12.col-sm-12.col-12
                    include ../components/jobs-sidebar.pug

    section.section-box.mt-50.mb-50
        .container
            .text-start
                h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp News and Blog
                p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Get the latest news, updates and tips
        include ../sections/blog-slider.pug
    include ../sections/newsletter.pug

block scripts-custom
    script(src='assets/js/noUISlider.js')
    script(src='assets/js/slider.js')