extends ../layouts/master.pug

block title
    title Jobbox - Job Portal HTML Template 

block header
    include ../components/header.pug

block content
    section.section-box-2
        .container
            .banner-hero.banner-image-single
                img(src='assets/imgs/page/company/img.png', alt='jobBox')
            .box-company-profile
                .image-compay
                    img(src='assets/imgs/page/company/company.png', alt='jobBox')
                .row.mt-10
                    .col-lg-8.col-md-12
                        h5.f-18
                            | AliThemes 
                            span.card-location.font-regular.ml-20 New York, US
                        p.mt-5.font-md.color-text-paragraph-2.mb-15
                            | Our Mission to make working life simple
                    .col-lg-4.col-md-12.text-lg-end
                        a.btn.btn-call-icon.btn-apply.btn-apply-big(href='page-contact.html') Contact us
            .box-nav-tabs.mt-40.mb-5
                ul.nav(role='tablist')
                    li
                        a.btn.btn-border.aboutus-icon.mr-15.mb-5.active(href='#tab-about', data-bs-toggle='tab', role='tab', aria-controls='tab-about', aria-selected='true') About us
                    li
                        a.btn.btn-border.recruitment-icon.mr-15.mb-5(href='#tab-recruitments', data-bs-toggle='tab', role='tab', aria-controls='tab-recruitments', aria-selected='false') Recruitments
                    li
                        a.btn.btn-border.people-icon.mb-5(href='#tab-people', data-bs-toggle='tab', role='tab', aria-controls='tab-people', aria-selected='false') People

            .border-bottom.pt-10.pb-10
    section.section-box.mt-50
        .container
            .row
                .col-lg-8.col-md-12.col-sm-12.col-12
                    .content-single
                        .tab-content
                            .tab-pane.fade.show.active#tab-about(role='tabpanel', aria-labelledby='tab-about')
                                h4 Welcome to AliStudio Team
                                p The AliStudio Design team has a vision to establish a trusted platform that enables productive and healthy enterprises in a world of digital and remote everything, constantly changing work patterns and norms, and the need for organizational resiliency.
                                p The ideal candidate will have strong creative skills and a portfolio of work which demonstrates their passion for illustrative design and typography. This candidate will have experiences in working with numerous different design platforms such as digital and print forms.

                                h4 Essential Knowledge, Skills, and Experience
                                ul
                                    li A portfolio demonstrating well thought through and polished end to end customer journeys
                                    li 5+ years of industry experience in interactive design and / or visual design
                                    li Excellent interpersonal skills
                                    li Aware of trends in mobile, communications, and collaboration
                                    li Ability to create highly polished design prototypes, mockups, and other communication artifacts
                                    li The ability to scope and estimate efforts accurately and prioritize tasks and goals independently
                                    li History of impacting shipping products with your work
                                    li A Bachelor s Degree in Design (or related field) or equivalent professional experience
                                    li Proficiency in a variety of design tools such as Figma, Photoshop, Illustrator, and Sketch

                            .tab-pane.fade#tab-recruitments(role='tabpanel', aria-labelledby='tab-recruitments')
                                h4 Recruitments
                                p The AliStudio Design team has a vision to establish a trusted platform that enables productive and healthy enterprises in a world of digital and remote everything, constantly changing work patterns and norms, and the need for organizational resiliency.

                                p The ideal candidate will have strong creative skills and a portfolio of work which demonstrates their passion for illustrative design and typography. This candidate will have experiences in working with numerous different design platforms such as digital and print forms.

                            .tab-pane.fade#tab-people(role='tabpanel', aria-labelledby='tab-people')
                                h4 People
                                p The AliStudio Design team has a vision to establish a trusted platform that enables productive and healthy enterprises in a world of digital and remote everything, constantly changing work patterns and norms, and the need for organizational resiliency.

                                p The ideal candidate will have strong creative skills and a portfolio of work which demonstrates their passion for illustrative design and typography. This candidate will have experiences in working with numerous different design platforms such as digital and print forms.

                    .box-related-job.content-page
                        h5.mb-30 Latest Jobs
                        .box-list-jobs.display-list
                            +jobCard-List('assets/imgs/brands/brand-6.png','Quora JSC','New York, US','Senior System Engineer','Part time','5','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.','$800')
                                a.btn.btn-grey-small.mr-5(href='job-details.html') PHP
                                a.btn.btn-grey-small.mr-5(href='job-details.html') Android
                            +jobCard-List('assets/imgs/brands/brand-7.png', 'Nintendo','New York, US','Products Manager','Full time','6','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.','$250')
                                a.btn.btn-grey-small.mr-5(href='job-details.html') ASP .Net
                                a.btn.btn-grey-small.mr-5(href='job-details.html') Figma
                            +jobCard-List('assets/imgs/brands/brand-8.png', 'Periscope','New York, US','Lead Quality Control QA','Full time','6','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.','$250')
                                a.btn.btn-grey-small.mr-5(href='job-details.html') iOS
                                a.btn.btn-grey-small.mr-5(href='job-details.html') Laravel
                                a.btn.btn-grey-small.mr-5(href='job-details.html') Golang
                        include ../elements/pagination.pug
                .col-lg-4.col-md-12.col-sm-12.col-12.pl-40.pl-lg-15.mt-lg-30
                    .sidebar-border
                        .sidebar-heading
                            .avatar-sidebar
                                .sidebar-info.pl-0
                                    span.sidebar-company AliThemes
                                    span.card-location New York, US
                        .sidebar-list-job
                            .box-map
                                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.3150609575905!2d-87.6235655!3d41.886080899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca8b34afe61%3A0x6caeb5f721ca846!2s205%20N%20Michigan%20Ave%20Suit%20810%2C%20Chicago%2C%20IL%2060601%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1658551322537!5m2!1svi!2s', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
                        .sidebar-list-job
                            ul
                                li
                                    .sidebar-icon-item
                                        i.fi-rr-briefcase
                                    .sidebar-text-info
                                        span.text-description Company field
                                        strong.small-heading Accounting / Finance
                                li
                                    .sidebar-icon-item
                                        i.fi-rr-marker
                                    .sidebar-text-info
                                        span.text-description Location
                                        strong.small-heading Chicago, US Remote Friendly
                                li
                                    .sidebar-icon-item
                                        i.fi-rr-dollar
                                    .sidebar-text-info
                                        span.text-description Salary
                                        strong.small-heading $35k - $45k
                                li
                                    .sidebar-icon-item
                                        i.fi-rr-clock
                                    .sidebar-text-info
                                        span.text-description Member since
                                        strong.small-heading Jul 2012
                                li
                                    .sidebar-icon-item
                                        i.fi-rr-time-fast
                                    .sidebar-text-info
                                        span.text-description Last Jobs Posted
                                        strong.small-heading 4 days
                        .sidebar-list-job
                            ul.ul-disc
                                li 205 North Michigan Avenue, Suite 810 Chicago, 60601, USA
                                li Phone: (123) 456-7890
                                li Email: contact@Evara.com
                            .mt-30
                                a.btn.btn-send-message(href='page-contact.html') Send Message
                    .sidebar-border-bg.bg-right
                        span.text-grey WE ARE
                        span.text-hiring HIRING
                        p.font-xxs.color-text-paragraph.mt-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto
                        .mt-15
                            a.btn.btn-paragraph-2(href='page-contact.html') Know More
    include ../sections/newsletter.pug