extends ../layouts/master.pug

block title
  title Jobbox - Job Portal HTML Template 

block header
  include ../components/header.pug

block content
  .bg-homepage1
  include ../sections/home1_sec1.pug
  .mt-100
  include ../sections/home1_sec2.pug
  include ../sections/home1_sec3.pug
  include ../sections/home1_sec4.pug
  include ../sections/home1_sec5.pug
  include ../sections/home1_sec6.pug
  section.section-box.mt-50
    .container
      .text-center
        h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp Top Recruiters
        p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Discover your next career move, freelance gig, or internship
    include ../sections/home1_sec7.pug
  section.section-box.mt-50
    .container
      .text-center
        h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp Jobs by Location
        p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Find your favourite jobs and get the benefits of yourself
    include ../sections/home1_sec8.pug
  section.section-box.mt-50.mb-50
    .container
        .text-center
            h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp News and Blog
            p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Get the latest news, updates and tips
    include ../sections/blog-slider.pug
  include ../sections/newsletter.pug

  block scripts-custom
    script(src='assets/js/plugins/counterup.js')