extends ../layouts/master.pug

block title
    title Jobbox - Job Portal HTML Template 

block header
    include ../components/header.pug

block content
    section.section-box
        .breacrumb-cover.bg-img-about
            .container
                .row
                    .col-lg-6
                        h2.mb-10 About Us
                        p.font-lg.color-text-paragraph-2 Get the latest news, updates and tips
                    .col-lg-6.text-lg-end
                        ul.breadcrumbs.mt-40
                            li
                                a.home-icon(href='#') Home
                            li About Us
    section.section-box.mt-50
        .post-loop-grid
            .container
                .text-center
                    h6.f-18.color-text-mutted.text-uppercase Our company
                    h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp About Our Company
                    p.font-sm.color-text-paragraph.wow.animate__animated.animate__fadeInUp.w-lg-50.mx-auto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula ante, dictum non aliquet eu, dapibus ac quam. Morbi vel ante viverra orci tincidunt tempor eu id ipsum. Sed consectetur, risus a blandit tempor, velit magna pellentesque risus, at congue tellus dui quis nisl.

                .row.mt-70
                    .col-lg-6.col-md-12.col-sm-12
                        img(src='assets/imgs/page/about/img-about2.png', alt='joxBox')
                    .col-lg-6.col-md-12.col-sm-12
                        h3.mt-15 What we can do?
                        .mt-20
                            p.font-md.color-text-paragraph.mt-20
                                | Aenean sollicituin, lorem quis bibendum auctor nisi elit consequat ipsum sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet maurisorbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctora ornare odio.
                            p.font-md.color-text-paragraph.mt-20
                                | Aenean sollicituin, lorem quis bibendum auctor nisi elit consequat ipsum sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet maurisorbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctora ornare odio.
                            p.font-md.color-text-paragraph.mt-20
                                | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis non nisi purus. Integer sit nostra, per inceptos himenaeos.
                            p.font-md.color-text-paragraph.mt-20
                                | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis non nisi purus. Integer sit nostra, per inceptos himenaeos.
                        .mt-30
                            a.btn.btn-brand-1(href='#') Read More

    include ../sections/our-team.pug
    section.section-box.mt-50.mb-50
        .container
            .text-start
                h2.section-title.mb-10.wow.animate__animated.animate__fadeInUp News and Blog
                p.font-lg.color-text-paragraph-2.wow.animate__animated.animate__fadeInUp Get the latest news, updates and tips
        include ../sections/blog-slider.pug
    include ../sections/testimonials-slider.pug
    include ../sections/newsletter.pug