extends ../layouts/master.pug

block title
    title Jobbox - Job Portal HTML Template 

block header
    include ../components/header.pug

block content
    section.pt-100.login-register
        .container 
            .row.login-register-cover.pb-250
                .col-lg-4.col-md-6.col-sm-12.mx-auto
                    .text-center
                        img(src="assets/imgs/page/login-register/img-6.svg", alt="JobBox") 
                        h2.mt-10.mb-5.text-brand-1 Protected Content
                        p.font-sm.text-muted.mb-30 
                            | This content is password protected. To view it please 
                            | enter your password below
                    form.login-register.text-start.mt-20(action="#")
                        +inputWithLabel('input-1', 'Your Password *', 'password', 'password', '************')                        
                        .form-group
                            button.btn.btn-brand-1.hover-up.w-100(type='submit', name='login') Submit
                        .text-muted.text-center Don't Have Passoword?
                            a(href='page-contact.html') Contact Us