extends ../layouts/master.pug

block title
    title Jobbox - Job Portal HTML Template 

block header
    include ../components/header.pug

block content
    section.pt-100.login-register
        .container 
            .row.login-register-cover
                .col-lg-4.col-md-6.col-sm-12.mx-auto
                    .text-center
                        p.font-sm.text-brand-2 Welcome back! 
                        h2.mt-10.mb-5.text-brand-1 Member Login
                        p.font-sm.text-muted.mb-30 Access to all features. No credit card required.
                        button.btn.social-login.hover-up.mb-20
                            img(src="assets/imgs/template/icons/icon-google.svg", alt="jobbox")
                            strong Sign in with Google
                        .divider-text-center
                            span Or continue with
                    form.login-register.text-start.mt-20(action="#")
                        +inputWithLabel('input-1', 'Username or Email address *', 'text', 'fullname', 'Steven Job')                        
                        +inputWithLabel('input-4', 'Password *', 'password', 'password', '************')
                        .login_footer.form-group.d-flex.justify-content-between
                            label.cb-container
                                input(type='checkbox')
                                span.text-small Remenber me
                                span.checkmark
                            a.text-muted(href='page-contact.html') Forgot Password
                        .form-group
                            button.btn.btn-brand-1.hover-up.w-100(type='submit', name='login') Login
                        .text-muted.text-center Don't have an Account? 
                            a(href='page-signin.html') Sign up
                .img-1.d-none.d-lg-block
                    img.shape-1(src="assets/imgs/page/login-register/img-4.svg", alt="JobBox")
                .img-2
                    img(src="assets/imgs/page/login-register/img-3.svg", alt="JobBox")



